form {
    text-align: center;
    padding-top: $pad;

    label {
        display: inline-block;
        width: 150px;
        text-align: right;
        margin-right: 20px;
        font-weight: 300;
    }

    select {
        width: 300px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        width: 274px;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
        padding: 3px 8px;
    }

    .control-group {
        margin-bottom: 1em;        
    }

}