@import "mixins.scss";

/* ----------------------------
    Common 
 ------------------------------ */

* {
    margin: 0;
    padding: 0;
}

html, body { 
    height: 100%;
}

body {
    font-family: source-sans-pro, Helvetica, Arial, sans-serif, sans-serif;
    font-size: $basic-font-size;
    margin-top: $header-height;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%; 
    font-weight: 300;
}

h1 {    font-size: 4.0em; font-weight: 500; letter-spacing: -.05em;   }
h2 {    font-size: 2.2em;   }
h3 {    font-size: 1.4em;   }
h4 {    font-size: 1.8em; font-weight: 200;   }

p { 
    margin: 0.5em 0 1.2em;
    font-weight: 300;
    line-height: 1.6em;
    color: $sub-font-color;
}

li {
    font-weight: 300;
    line-height: 1.6em;
}

ul, ol {
    padding-left: 3em;
    li {
        list-style: disc;
    }
}

a { 
    color: $link-color;
    text-decoration: none;
    &:hover   { color: $link-color; }
    // &:visited { color: #a0a; }
}

hr {
    clear: both;
    border: none;
    border-top: 1px solid #eee;
    margin: 0 auto;
    width: 80%;
    max-width: $width;
}

form {
    text-align: center;
    padding-top: $pad;

    label {
        display: inline-block;
        width: 150px;
        text-align: right;
        margin-right: 20px;
        font-weight: 300;
    }

    select {
        width: 300px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        width: 274px;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
        padding: 3px 8px;
    }

    .control-group {
        margin-bottom: 1em;        
    }
}

/* ----------------------------
    Layout I
 ------------------------------ */

.wrap {
    width: 80%;
    max-width: $width;
    margin: 0 auto;
    position: relative;
}

.saw {
    @include saw( $base-color, 60px, 'right' );
}

section {
    position: relative;

    .wrap {
        min-height: 200px;
        padding: $pad 0;
        width: 55%;
        padding-right: 25%;

        .insert {
            position: absolute;
            top: 60px;
            right: 0%;
            width: 33%;
            max-width: 250px;

            &.large {
                top: $pad/2;
                right: -12.5%;
                width: 40%;
                max-width: 400px;
            }
        }

        &.reverse {
            padding-right: 0;
            padding-left: 25%;

            .insert {
                right: auto;
                left: 0%;

                &.large { left: -13%; }
            }
        }

        &.center {
            text-align: center;
            min-height: 130px;
            margin-top: 40px
        }

        &.full {
            padding-right: 0;
            padding-left: 0;
            width: 80%;
        }

        &.short {
            padding-top: 40px;
            padding-bottom: 20px;
            min-height: 70px;
        }
    }
}

.primary {
    @include filler( $primary-color );
    background-image: url(../background.svg);
    background-repeat: no-repeat;
    background-position: 50% 10%;
}

.secondary {
    @include filler( $secondary-color );
}

.reverse {
    padding-left: 37.5%;
    padding-right: 0;
}


/* ----------------------------
    Navigation
 ------------------------------ */

header {
    position: fixed;
    height: $header-height;
    background: $base-color;
    left: 0; right: 0; top: 0;
    z-index: 99;

    &:after {
        content: '';
        position: absolute;
        left: 0; bottom: -2px; right: 0;
        border-bottom: 2px solid rgba(0,0,0,0.1);
    }

    .wrap {
        padding: 28px 0 10px;
    }

    a {
        color: $font-color;
        font-size: 1.0em;
        @include transition( color )
    }

    .logo {
        img {
            float: left;
            margin-top: -12px;
            width: 60px;
            height: 60px;
        }
        float: left;
        line-height: 36px;

        .header {
            letter-spacing: -.05em;
            font-size: 2em;
            font-weight: 300;
        }
    }

    nav {
        float: right;

        a {
            margin-left: 40px;

            &.selected {
                border-bottom: 4px solid $primary-color;
            }
        }

        .bt {
            color: #fff;
            @include transition( background-color );
        }
    }
}

footer {
    clear: both;
    min-height: 100px;
    border-top: 1px solid #eee;

    .wrap {
        padding: 40px 0;
        font-size: 0.8em;
        color: $sub-font-color;
    }

    nav {
        text-align: center;
        a {
            img {
                background-color: $sub-font-color;
                width: 64px;
                height: 64px;
               @include transition( background-color );
            }
            font-size: 0;
            display: inline-block;
            margin: 0 70px;

            &:hover {
                img {
                    background-color: $primary-color;

                    &.twitter-logo {    background-color: #2ba9e1; }
                    &.adobe-logo {      background-color: #ed1c24; }
                }
            }
        }
    }
}


/* ----------------------------
    UI
 ------------------------------ */

.bt {
    background: $primary-color;
    display: inline-block;
    color: #fff;
    padding: 4px 20px;
    text-align: center;
    border-bottom: $primary-dark 2px solid;
    @include corner-radius;
    @include transition( background-color );

    &:hover {
        color: #fff;
        background-color: $primary-light;
    }

    &.large {
        font-size: 1.5em;
        padding: 5px 20px;
    @include corner-radius( 8px );
    }

    .sub-text {
        margin-top: -0.5em;
        display: block;
        font-size: 0.5em;
    }
}


/* ----------------------------
    Page - Specific
 ------------------------------ */

#hero {
    background-image: url(../background.svg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    section {
        padding: $pad*2 0 40px;
    }
    .wrap {
        padding-right: 0;
        width: 80%;

        img.insert {
            top: 50px;
        }
    }
}

#get-snap {
    padding: 40px 0;

    &:after {
        content: '';
        position: absolute;
        background-image: url(../background_2.svg);
        background-repeat: no-repeat;
        background-position: -650px 0%;
        left: 0;
        width: 75%;
        top: 0;
        bottom: 0;
        // opacity: 0.5;
    }

    .wrap {
        z-index: 2;
    }
}

.demo {
    aside {
        width: 25%;
        float: left;
    }

    iframe {
        width: 75%;
        min-height: 300px;
        border: none;
        float: right;
    }

    nav {
        padding: 0 0 30px;

        a {
            position: relative;
            color: $font-color;
            display: block;
            height: 80px;
            line-height: 80px;
            border-bottom: 1px solid #fff;
            @include transition( background-color );

            &:hover {
                background-color: #eee;
            }

            img {
                background: #fff;
                float: left;
                width: 80px;
                height: 80px;
            }

            &.selected {
                text-indent: 0;
                padding-right: 8px;
                background-color: $secondary-color;
                color: #fff;
            }

        }
    }
    text-align: center;
}
