<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <script src="//use.edgefonts.net/source-sans-pro:n2,i2,n3,i3,n4,i4,n6,i6,n7,i7,n9,i9:all.js"></script>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/style/master.css?v={{ site.build_time }}">
        <script src="{{ site.baseurl }}/assets/js/snap.svg-min.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-44948757-1', 'snapsvg.io');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        {% capture current_url %}{{ page.url | replace: 'index.html','' }}{% endcapture %}
        <header>
            <div class="wrap">
                <a href="{{ site.baseurl }}/" class="logo">
                    <img src="{{ site.baseurl }}/assets/logo.svg" alt=""/>
                    <span class="header">{{ site.name }}</span>
                </a>
                <nav>
                    {% for item in site.menu%}
                    <a href="{{ site.baseurl }}{{ item.path }}" {% if current_url == item.path %}class="selected"{% endif %}>{{ item.title }}</a>
                    {% endfor %}
                    <a class="bt" href="{{ site.downlod.zip }}" onclick="_gaq.push(['_trackEvent', 'Download', '{{ site.download.version }}']);">Download</a>
                </nav>
            </div>
        </header>

        <article>
            {{ content }}
        </article>

        <footer>
            <div class="wrap">
                <nav>
                    <a href="https://twitter.com/Snapsvg"><img class="twitter-logo" src="{{ site.baseurl }}/assets/logo-twitter.svg" alt="" /></a>
                    <a href="https://github.com/adobe-webplatform/Snap.svg"><img class="github-logo" src="{{ site.baseurl }}/assets/logo-github.svg" alt="" /></a>
                    <a href="http://html.adobe.com/"><img class="adobe-logo" src="{{ site.baseurl }}/assets/logo-adobe.svg" alt="" /></a>
                </nav>
            </div>
        </footer>

    </body>
</html>
