/* ----------------------------
    Variables 
 ------------------------------ */

/* Background colors */
$base-color: #fff;
$primary-color: #00a99d;
$secondary-color: #ea7373;

/* Text */
$font-color: #25382f;
$sub-font-color: #737f78;
$link-color: #00a99d;
$basic-font-size: 16px;

/* Numbers */
$width: 1000px;
$header-height: 70px;
$pad: 50px;


/* ----------------------------
    Common 
 ------------------------------ */

* {
  margin: 0;
  padding: 0;
}

html, body { 
    height: 100%; 
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $basic-font-size;
  margin-top: $header-height;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
  font-weight: 400;
}

h1 {
    font-size: 2em;
}

p { 
    margin: 1em 0; 
}

a { 
    color: $link-color;
    text-decoration: none;
    &:hover   { color: $link-color; }
    // &:visited { color: #a0a; }
}


/* ----------------------------
    Layout 
 ------------------------------ */

header {
    position: fixed;
    height: $header-height;
    background: $base-color;
    left: 0; right: 0; top: 0;

    &:after {
        content: '';
        position: absolute;
        left: 0; bottom: -2px; right: 0;
        border-bottom: 2px solid rgba(0,0,0,0.1);
    }

    section {
        padding-top: 20px
    }

    a {
        color: $font-color;
        font-size: 1.2em;
    }
}

.wrap, section, article {
    width: $width;
    margin: 0 auto
}

#hero {
    background: $primary-color;
    color: $base-color;
    padding: $pad;

    p {
        font-size: 1.1em;
        padding-right: 50%;
    }
}



